{% extends 'base.html' %}
{% load static %}
{% block title %}MAĞAZA{% endblock title %}


{% block css %}
<style>
  .swiper{
    margin-top: 50px;
    width: 400px;
    height: 300px;
  }
.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>
{% endblock css %}

{% block content %}
     <!-- CONTENT -->
     <div class="container content mt-5">
        <div class="row">
          <a href="#"><img src="{% static 'img/Banner/advertisement.jpg' %}" alt="banner" class="my-5 d-xl-block d-none m-auto"></a>
          <div class="col-md-4">
            <h4 class="text-center">KATEGORİLER</h4>
            <div class="list-group mt-5">
            <a href="{% url 'magaza' %}" class="list-group-item list-group-item-action">Tüm Ürünler</a>
              {% for i in categorys %}
                <a href="{% url 'kategori' i.slug %}" class="list-group-item list-group-item-action" aria-current="true">{{ i.category }}</a>
            {% endfor %}
          </div>
            
            <!-- Swiper -->
    <div class="swiper mySwiper d-xl-block d-none mt-5">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="{% static 'img/campaigns/banner1.png' %}" alt="resim">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/campaigns/banner2.png' %}" alt="resim">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/campaigns/banner3.png' %}" alt="resim">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/campaigns/banner4.png' %}" alt="resim">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
          <!-- İÇERİKLER -->
      <div class="col-md-8 mb-5">
            <h4 class="text-center">ÜRÜNLER</h4>
          <div class="row gy-3 mt-1">
              {% for i in card %}
              <div class="col-md-6 col-lg-4">
                <div class="card kart text-center" style="width: 100%;">
                  <a href="{% url 'detail' i.slug %}"><img src="{{ i.image.url }}" class="card-img-top img1" alt="resim"></a>
                  <div class="card-body d-flex flex-column h-100">
                    <!-- <h5 class="card-title text-decoration-line-through text-muted">250 TL</h5> -->
                    <h5 class="card-title">₺{{ i.price }}</h5>
                    <a href="{% url 'detail' i.slug %}" class="text-decoration-none text-dark">{{ i.title }}</a><button class="btn border-0"><i class="bi bi-heart-fill"></i></button>
                    <form method="POST">
                      {% csrf_token %}
                      
                      {% if request.user.is_authenticated %}
                      <input type="hidden" name="urid" value="{{ i.id }}">
                      <button type="submit" name="submit" value="sepetButon" class="btn btn-primary mt-3 w-100">Sepete Ekle</button>
                      {% else %}
                      <a href="{% url 'uyelik' %}" class="btn btn-primary mt-3 w-100">Sepete Ekle</a>
                      {% endif %}
                        
                      </form>
                      <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if request.user.is_superuser %}
                        <button type="button" class="btn btn-primary mt-3 w-100" data-bs-toggle="modal" data-bs-target="#Modal{{ i.id }}">
                          Düzenle
                        </button>
                        <a href="{% url 'cardDelete' i.id %}" type="submit" class="btn btn-primary mt-3 w-100">Sil</a>
                        {% endif %}
                        <!-- Modal -->
                          <div class="modal fade" id="Modal{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Ürün Düzenle</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  
                                    <input type="file" name="image" class="form-control">
                                    <input type="number" name="price" value="{{ i.price }}" class="form-control mt-3" placeholder="Ürün Fiyatı">
                                    <input type="text" name="title" value="{{ i.title }}" class="form-control mt-3" placeholder="Ürün Adı">
                                  </div>
                                  <div class="modal-footer">
                                  <input type="hidden" name="cardid" value="{{ i.id }}">
                                  <button type="submit" name="submit" value="urunDuzen" class="btn btn-primary">Değişiklikleri Kaydet</button>
                                </div>
                              
                              </div>
                            </div>
                          </div>
                          
                        </form>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Paginatör -->
              <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination m-auto">
                        {% if card.has_previous %} 
                        <li class="page-item">
                          <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ card.previous_page_number }}">Geri</a></li>
                         <li class="page-item"><a class="page-link" href="?page={{ card.number|add:'-1' }}">{{ card.number|add:'-1' }}</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="?page={{ card.number }}">{{ card.number }}</a></li> 
                        {% if card.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ card.number|add:'2' }}">{{ card.number|add:'1' }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ card.next_page_number }}">İleri</a></li>
                        <li class="page-item">
                          <a class="page-link" href="?page={{ card.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </nav>
              </div>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
  
{% block js %}
<script>
   // Swiper Cube
var swiper = new Swiper(".mySwiper", {
effect: "cube",
grabCursor: true,
autoplay:{
    delay: 2000,
    disableOnInteraction: false,
},
cubeEffect: {
  shadow: true,
  slideShadows: true,
  shadowOffset: 20,
  shadowScale: 0.94,
},
pagination: {
  el: ".swiper-pagination",
},
});
</script>
{% endblock js %}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
