{% extends 'base.html' %}
{% load static %}
{% block title %}ŞİFRE DEĞİŞTİR{% endblock title %}
  

{% block content %}
    <!-- İçerik -->
    {% if messages %}
    <ul class="container-fluid p-0 position-absolute">
        {% for i in messages %}
        <div class="alert {{ i.tags }} alert-dismissible fade show mb-0 text-center">
            {{ i }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container my-5 py-5 ">
        <div class="row justify-content-center">
            <div class="col-5">
                <form method="POST">
                  {% csrf_token %}
                  <h2 class="mb-3 d-block text-center"><strong>ŞİFRE DEĞİŞTİR</strong></h2>
                    <input name="password" type="password" placeholder="Şifreniz" id="name" class="form-control mb-3">
                    <input name="password1" type="password" placeholder="Yeni Şifre" id="name" class="form-control mb-3">
                    <input name ="password2" type="password" placeholder="Yeni Şifre Tekrar" id="sifre" class="form-control mb-3">
                    <button type="submit" class="btn btn-primary buton d-block ms-auto">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

    