{% load static %}
       <!-- Footer -->
        <footer class="footer bg-light mt-5 pt-3">
            <div class="row w-100 m-0">
                <div class="col-2">
                  <a class="navbar-brand ps-5 d-md-block d-none" href="/">FY</a>
                </div>
                <div class="col-md-8 p-0">
                  <div class="row brands text-center w-100">
                  <div class="col-md-3 col-6 p-0">
                    <a href="#"><img src="{% static 'img/brands/brand1.png' %}" alt="resim"></a>
                  </div>
                  <div class="col-md-3 col-6 p-0">
                    <a href="#"><img src="{% static 'img/brands/brand2.png' %}" alt="resim"></a>
                  </div>
                  <div class="col-md-3 col-6 p-0">
                    <a href="#"><img src="{% static 'img/brands/brand3.png' %}" alt="resim"></a>
                  </div>
                  <div class="col-md-3 col-6 p-0">
                    <a href="#"><img src="{% static 'img/brands/brand4.png' %}" alt="resim"></a>
                  </div>
              </div>
              </div>
              <div class="col-md-2 hero-image p-0 d-md-block d-none">
                <p class="p-4 text-black">Türkiye'den sonra şimdi de tüm dünyada (Avrupa-Asya-Amerika)</p>
              </div>
            </div>
              <hr class="border border-2 border-secondary">
              <div class="row w-100 m-0">
                <div class="col-md-9 text-center p-0">
                  <div class="row w-100">
                  <div class="col-md-3 col-6 p-0 text-center">
                    <label class="ms-4"><strong>HİZMETLER</strong></label>
                    <ul>
                      <li><a href="#">Çevrimiçi Yardım</a></li>
                      <li><a href="#">Bize Ulaşın</a></li>
                      <li><a href="#">Sipariş Durumu</a></li>
                      <li><a href="#">Adres Değiştir</a></li>
                      <li><a href="#">SSS</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-6 p-0">
                    <label class="ms-4"><strong>MAĞAZA</strong></label>
                    <ul>
                      <li><a href="#">Kadın</a></li>
                      <li><a href="#">Erkek</a></li>
                      <li><a href="#">Çocuk</a></li>
                      <li><a href="#">Süper Market</a></li>
                      <li><a href="#">Kozmetik</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-6 p-0">
                    <label class="ms-4"><strong>POLİTİKALAR</strong></label>
                    <ul>
                      <li><a href="#">Kullanım Şartları</a></li>
                      <li><a href="#">Gizlilik Politikaları</a></li>
                      <li><a href="#">Geri Ödeme</a></li>
                      <li><a href="#">Faturalandırma Sistemi</a></li>
                      <li><a href="#">Fiş Sistemi</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-6 p-0">
                    <label class="ms-4"><strong>HAKKIMIZDA</strong></label>
                    <ul>
                      <li><a href="#">Şirket Bilgileri</a></li>
                      <li><a href="#">Kariyer</a></li>
                      <li><a href="#">Mağaza Konumu</a></li>
                      <li><a href="#">Ortaklık</a></li>
                      <li><a href="#">Telif Hakkı</a></li>
                    </ul>
                  </div>
                </div>
                </div>
                <div class="col-md-3 p-0 text-center">
                    <h2><strong>E-POSTA GÖNDER</strong></h2><br>
                    <input type="email" placeholder="E-Mail Adresiniz" class="form-control w-75 m-auto">
                    <a href="#" type="submit" class="btn btn-primary mt-2 fs-5"><i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
</footer>